.container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.reports {
  margin: 5px 5px;
  padding: 3px;
}

.report {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding-left:10px;
  padding-top: 15px;
}
.report a{
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 5px;  
}


.timeLeft{
  font-weight: bold;
  text-align: right;
  width:15%;
  margin-right:5px;
}
.link{
  text-align: left;
  width:85%
}

.safe{
  background-color: rgb(113, 221, 63);
}
.danger{
  background-color: rgb(240, 82, 15);
}